nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.nokta{
    color: #FD6E0A;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* 1st nav text color */
.dark-2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
    
}
.btn{
   background-color: #FD6E0A; 
   font-weight:bold;
   font-size: 20px;
   color: white;
   padding: 18px 35px 19px 36px;
   border-radius: 5px;
   border: none;


}
/* sectioner bg color */
.sec-bgcolor{
    background-color: #e9f0ee;
}
/* headerer bg image set */
.header{
    background-image: url('../image/developer.png'),url('../image/headerbg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
/* banner style */
.main-banner-father{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.chuto-abba-banner{
    max-width: 580px;
}
.banner-greetings{
    font-weight:600;
    font-size: 45px;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-discription{
    font-size: 18px;
}
.banner-pic{
    width: 580px;
    height: 676px;
}
main{
    max-width: 1140px;
    margin: 0 auto;

}
main section{
     margin-top: 130px;
}
/* about sectioner kaj */
.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.about{
     border-radius: 10px;
     padding:130px 150px;
    
     text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top:;
}
.item-discription{
    font-weight: bold;
}
/* 2nd sectione middle BG color */
.try{
    background-color: floralwhite;
    
}
/* 3rd sectioner agey css */
.ttt{
    text-align: center;
}
/* 3rd section css */
.f-skill{
    display: flex;
    gap: 24px;
    backgroun-color: #b57070;
    

}
.skills-top{
    padding:30px;
    backgroun-color: rgb(171, 1, 1);
}
.news-sec{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(78, 68, 68, 0.203);
    border 5px solid ;
    border-radius: 5px;
    background-color:;
}
